<h1>Administración de Usuarios</h1>

<div class="row">
    {{#each users }}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{first_name}} {{last_name}}</h5>
                <p class="card-text">Correo: {{email}}</p>
                <p class="card-text">Rol: {{role}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>